* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: linear-gradient(135deg, #1b1b3a, #3a86ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 420px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #222;
}

.input-area {
    display: flex;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 2px solid #3a86ff;
    border-radius: 6px;
    outline: none;
}

#addBtn {
    background: #3a86ff;
    color: white;
    border: none;
    padding: 10px 18px;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
}

#addBtn:hover {
    background: #265cc4;
}

#taskList {
    margin-top: 20px;
    list-style: none;
}

li {
    background: #f2f2f2;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
